.Login-btn {
    border-radius: 24px;
    padding: var(--base-size);
    width: 100%;
    font-weight: bold;
    outline: none;
    letter-spacing: 2px;
    font-size: var(--base-size);
    border: 2px solid transparent;
    color: #3D3D3D;
    box-shadow: var(--shaddow);
    height: calc(var(--base-size) * 5);
}

.Login-btn-success {
    background:#02F367;
}