
@media screen and (max-width: 700px) {
    :root{
        --base-size: 0.9em!important;
    }
    .Login {
        width: max-content!important;
        font-size: calc(var(--base-size) * 0.75);
    }
}

@media screen and (max-width: 420px) {
    :root{
        --base-size: 0.9em!important;
    }
    .Login {
        width: max-content!important;
        font-size: calc(var(--base-size) * 2);
    }
}

@media screen and (max-width: 320px) {
    .Login {
        width: max-content!important;
        font-size: calc(var(--base-size) * 0.9);
    }
}

@media screen and (max-height: 768px) {
    :root{
        --base-size: 0.8em!important;
    }
}

@media screen and (max-height: 600px) {
    :root{
        --base-size: 0.7em!important;
    }
}

@media screen and (max-height: 522px) {
    :root{
        --base-size: 0.6em!important;
    }
}

@media screen and (max-height: 470px) {
    :root{
        --base-size: 0.4em!important;
    }
}

@media screen and (max-height: 360px) {
    :root{
        --base-size: 0.75em!important;
    }
    .Login {
        width: max-content!important;
    }
    
}

@media screen and (max-height: 320px) {
    :root{
        --base-size: 0.7em!important;
    }
    .Login {
        width: max-content!important;
    }
    
}
