@import url('buttons.css');
@import url('responsive.css');
@import url('https://fonts.googleapis.com/css?family=Lato:700');


:root {
    --shaddow: 5px 1px 30px rgba(150, 150, 150, 1);
    --focus-border: 2px solid cyan;
    --font-default:'Lato', sans-serif;
    --base-size: 1em;
}

body {
    font-family: var(--font-default);
    background: rgb(218, 216, 216);
    height: 100%;
    animation-name: blurout;
    animation-duration: 0.5s;
}

.Login-background {
    background-image: url('./assets/US-FBI-BWSeal.svg');
    height: 100vh;
    width: 100vw;
    position: absolute;
    filter: blur(2px);
    background-clip: border-box;
    background-size: contain;
}

.Login-container {
    height: 100vh;
    filter: none!important;
}


.Login {
    background: rgb(87, 86, 86);
    width: calc(var(--base-size) * 20);
    text-align: center;
    padding: calc(var(--base-size) * 4);
    border-radius: 24px;
    font-style: italic;
    box-shadow: var(--shaddow);
    font-family: inherit;
    position: relative;
    z-index: 2;
    font-size: calc(var(--base-size) * 0.8);
    width: max-content;
}

.Login--error{
    border-color:  red!important;
    transition: 1s;
}

.Login--no-state {
    border: 6px solid transparent;
    transition: 1s;
}

.Login--hide-state {
    border-color: transparent;
    transition: 1s;
}

.Login--success{
    border-color:#02F367;
    transition: 1s;
}

.Login-banner{
    text-shadow: 4px 4px 3px rgba(0,0,0,0.12);
    font-size: calc(var(--base-size) * 1.5);
    text-align: center;
    top: 20px;
    left: 0;
    color: white;
    z-index: 1;
    width: 100%;
}

.Login-header {
    border: 2px solid white;
    padding: calc(var(--base-size) * 0.2);
    margin-top: var(--base-size);
    text-shadow: var(--shaddow);
}

.Login input {
    height: calc(var(--base-size) * 5);
    width: 100%;
    margin-top: calc(var(--base-size) / 2);
    /* opacity: 0.5; */
    border-radius: 24px;
    outline: none;
    font-weight: 800;
    font-style: italic;
    font-size: var(--base-size);
    text-align: center;
}

.Login label {
    color: white;
    display: block;
    padding-top: var(--base-size)!important;
    padding-bottom: var(--base-size)!important;
}


.Login input:focus {
    opacity: 1;
    background: rgb(255, 230, 4);
    border: var(--focus-border);
}

.Login-form-control {
    /* flex: 1; */
    display: block;
    margin-top: calc(var(--base-size) / 2) ;
}

.Login-header {
    color: #fff;
    opacity: 0.7;
}



.u-center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-upper-margin {
    margin-top: calc(var(--base-size) * 2);
}

.u-hide {
    display: none!important;
}

#register:target label {
    display: block!important;
}

#login:target label:not([for*="email"])
{
    display: block!important;
}



.Login-btn:active{
    box-shadow: none;
    border-color: transparent!important;
    opacity: 0.9;
}

.Login-btn:focus{
    border: var(--focus-border);
}
.Login a{
    padding: var(--base-size);
    font-size: calc(var(--base-size) * 1.5);
    outline: none;
    text-decoration: none;
    opacity: 0.5;
}

.Login a:active {
    outline: none;
}

.u-block-children > *{
    display: block;
}

.Login-header:hover {
    transition: .4s;
    opacity: 1;
}

.Login-header:active {
    transition: .4s;
    opacity: 1;
}

@keyframes blurout {
    from {
        filter: blur(20px);
    }
    to {
        filter: blur(0);
    }
}